.loadingScreen {
    align-items: center;
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 100%;
    z-index: 1;

    &__title {
        color: white;
        font-size: 4rem;
    }

    &__animation {
        div {
            animation: 2.2s loading infinite ease-in-out both;
            background-color: white;
            border: none;
            border-radius: 50%;
            display: inline-block;
            height: 20px;
            margin-right: 10px;
            width: 20px;

            &:last-child {
                margin: 0;
            }
            
            &:nth-child(even){
                background-color: yellow;
            }
        }

        

        .element2 {
            animation-delay: .2s;
        }

        .element3 {
            animation-delay: .4s;
        }

        .element4 {
            animation-delay: .6s;
        }

        .element5 {
            animation-delay: .8s;
        }
    }
}

.background {
    height: 0;
    position: absolute;
    opacity: 0.4;
    width: 0;
    z-index: -1;

    &__first {
        border-top: 50vh solid yellow;
        border-left: 40vw solid transparent;
        right: 0;
        top: 0;
    }

    &__second {
        border-bottom: 50vh solid yellow;
        border-right: 40vw solid transparent;
        left: 0;
        bottom: 0;
    }
}

@keyframes loading {
    0%,100% {
        transform: scale(0);
    }
    50%{
        transform: scale(1);
    }
}