.pages {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 5px;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-around;
  list-style-type: none;
  position: absolute;
  width: 80%;

  &__number {
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px;

    &--current {
      background-color: rgba(255, 255, 0, 0.3);
      border-color: yellow;
    }
  }

  &__item {
    font-size: 1.5rem;

    &--current {
      color: yellow;
    }
  }

  .dots {
    border: none;
    cursor: default;
  }
}
