.tableItem {
    background-color: rgba(0,0,0,0.5);
    border: 1px solid rgba(255,255,0,0.5);
    display: grid;
    grid-template-columns: 1fr 70px;
    grid-template-rows: 1fr;
    height: 100px;
    width: 80%;
    margin-bottom: 10px;


    .wrapper {
        grid-column: 1;
        grid-row: 1;
        height: 100%;
        width: 100%;
        display: grid;
        align-content: center;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .elements {
        display: flex;
        flex-direction: row;
    }

    &__element {
        width: 50%;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__open {
        align-self: center;
        grid-column: 2;
        grid-row: 1;
        height: 30px;
        justify-self: center;
        width: auto;
    }
}