@font-face {
    font-family: 'Jost';
    src:  local('Jost');
    src:  url('./fonts/jost/jost-variablefont_italwght-webfont.eot');
    src:  url('./fonts/jost/jost-variablefont_italwght-webfont.eot?#iefix') format('embedded-opentype'),
          url('./fonts/jost/Jost-VariableFont_wght.ttf') format('truetype'),
          url('./fonts/jost/jost-variablefont_italwght-webfont.woff2') format('woff2'),
          url('./fonts/jost/jost-variablefont_italwght-webfont.woff') format('woff'),
          url('./fonts/jost/jost-variablefont_italwght-webfont.svg#jostregular') format('svg');
    font-weight: normal;
    font-style: normal;
  
  }
  
  :root {
    overflow: hidden;
    font-size: 10px;
  }
  
  *, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: Jost;
    font-weight: normal;
  }