.loaded {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 1fr 5vh;
    background-color: black;
    z-index: 1;

    .header {
        align-items: center;
        display: flex;
        justify-content: center;
        grid-column: 1;
        grid-row: 1;
    
        &__text {
            font-size: 4rem;
            font-weight: bold;
        }
    }

    .main {
        grid-column: 1;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        padding-top: 40px;

        nav {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .search {
            width: 80%;
            margin-bottom: 15px;
            height: 30px;
            position: absolute;
            top: 5px;

            &__input {
                height: 30px;
                width: 70%;
                background-color: transparent;
                border: 1px solid rgba(255,255,0,0.5);
                margin-right: 10%;
                font-size: 1.5rem;
                padding-left: 2%;
            }

            &__button {
                height: 30px;
                width: 20%;
                color: black;
                font-size: 1.5rem;
                cursor: pointer;
                background-color: rgba(255,255,255,0.7);
                border: 1px solid black;

                @media only screen and (min-width: 768px) {
                    transition: all .5s;
                    
                    &:hover {
                        background-color: black;
                        border: 1px solid rgba(255,255,255,0.7);
                        color: rgba(255,255,255,0.7);
                    }
                }
            }
        }
    }

    .footer {
        grid-column: 1;
        grid-row: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &__text {
            font-size: 1.2rem;
        }

        &::before {
            content: '';
            position: absolute;
            height: 5px;
            width: 100%;
            border-top: 1px solid yellow;
            border-bottom: 1px solid yellow;
            top: 0;
            left: 0;
        }
    }

    .background {
        bottom: 0;
        border-bottom: 70vh solid yellow;
        border-left: 80vw solid transparent;
        height: 0;
        position: absolute;
        right: 0;
        opacity: 0.4;
        width: 0;
        z-index: -1;
    }
}

